.house {
    background-color: blueviolet;
    width: 300px;
    height: 500px;
}

.floor {
    background-color: burlywood;
    width: 200;
    height: 50;
    position: absolute;
    z-index: 1;
}